---
---

@import "{{ site.theme }}";

body {
  background-color: beige;
  color: black;
}

h1 {
  color: black;
}

p {
  color: black;
}

li {
  color: black;
}

li {
  list-style-type: square;
}

li {
  list-style-position: outside;
}
